## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Ushuaia,AR,-54.8000,-68.3000,41.00,75,0,2.30,clear sky
1,1,Kodiak,US,57.7900,-152.4072,39.20,33,1,24.16,clear sky
2,2,Cherskiy,RU,68.7500,161.3000,-5.75,90,33,4.79,scattered clouds
3,3,Fortuna,US,40.5982,-124.1573,57.00,71,1,14.97,clear sky
4,4,Cape Town,ZA,-33.9258,18.4232,62.01,82,0,8.05,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Cape Town,ZA,-33.9258,18.4232,62.01,82,0,8.05,clear sky
7,7,Hithadhoo,MV,-0.6000,73.0833,83.23,70,16,13.49,few clouds
8,8,Hermanus,ZA,-34.4187,19.2345,60.01,90,100,4.00,overcast clouds
10,10,Rikitea,PF,-23.1203,-134.9692,77.88,71,13,13.22,light rain
13,13,Acarau,BR,-2.8856,-40.1200,77.97,85,40,10.76,scattered clouds
14,14,Puerto El Triunfo,SV,13.2833,-88.5500,84.20,65,20,4.61,few clouds
15,15,Atuona,PF,-9.8000,-139.0333,80.82,76,35,6.60,scattered clouds
16,16,Hilo,US,19.7297,-155.0900,71.60,83,90,5.75,light rain
18,18,Madras,IN,13.0878,80.2785,78.80,89,40,5.17,mist
19,19,Buala,SB,-8.1450,159.5921,84.20,76,34,6.11,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Cape Town,ZA,62.01,clear sky,-33.9258,18.4232,
7,Hithadhoo,MV,83.23,few clouds,-0.6000,73.0833,
8,Hermanus,ZA,60.01,overcast clouds,-34.4187,19.2345,
10,Rikitea,PF,77.88,light rain,-23.1203,-134.9692,
13,Acarau,BR,77.97,scattered clouds,-2.8856,-40.1200,
14,Puerto El Triunfo,SV,84.20,few clouds,13.2833,-88.5500,
15,Atuona,PF,80.82,scattered clouds,-9.8000,-139.0333,
16,Hilo,US,71.60,light rain,19.7297,-155.0900,
18,Madras,IN,78.80,mist,13.0878,80.2785,
19,Buala,SB,84.20,light rain,-8.1450,159.5921,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Cape Town,ZA,62.01,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
7,Hithadhoo,MV,83.23,few clouds,-0.6000,73.0833,Scoop Guest House
8,Hermanus,ZA,60.01,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
10,Rikitea,PF,77.88,light rain,-23.1203,-134.9692,Pension Maro'i
13,Acarau,BR,77.97,scattered clouds,-2.8856,-40.1200,castelo pizzaria
...,...,...,...,...,...,...,...
683,Fort Thomas,US,64.99,clear sky,39.0751,-84.4472,Holiday Inn Express & Suites Cincinnati SE New...
686,Tual,ID,83.50,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
693,Natal,BR,77.00,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
694,Dicabisagan,PH,75.70,overcast clouds,17.0818,122.4157,Nancy Montanes Bernardo
695,Araguacu,BR,75.43,overcast clouds,-12.9306,-49.8264,Hotel Tocantins

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))